body,html{
    margin: 0;
    padding: 0;
}

html{
    font-size: .625em;
    font-family: 'Roboto', sans-serif;
}

.context-menu{
    display: table;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    position: absolute;
    display: none;
    background-color: white;
    z-index: 1000;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            font-size: 1.3rem;
            padding: .6rem 2rem;
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background-color: #f0f0f0;
            }
        }
    }
}

.container{
    width: 110rem;
    margin: 0 auto;

    header{
        h1{
            font-size: 10rem;
            font-weight: normal;
            padding-top: 1.5rem;
            margin: 0;
        }

        nav{
           ul{
               display: flex;
               list-style-type: none;
               padding: 0;

               li{
                   padding: 0;
                   font-size: 1.5rem;
                   border: .1rem solid black;
                   padding: 1.2rem;
                   margin-right: 1rem;
                   cursor: pointer;
                   transition: .1s linear all;

                   &:hover{
                       color: white;
                       background-color: black;
                   }
               }
               
               .selected{
                    color: white;
                    background-color: black;
                }
           } 
        }
    }
}

main{
    display: block;
    width: 100%;
}

.display{
    width: 100%;
    height: 45rem;
    box-sizing: border-box;
    border: .1rem solid black;
    cursor: crosshair;
}

footer{
    font-size: 1.3rem;
    padding: 2rem 0;
}